* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
}

*::selection {
    color: #fff;
    background-color: black;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #F7F7F7;
    font-family: "Helvetica Now Text", "Lucida Sans", Tahoma, sans-serif;
    font-weight: 400;
}

.cursor {
    width: 250px;
    height: 250px;
    background-color: #e4e1e1;
    font-size: 1.5vw;
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}

.nav {
    width: 100%;
    z-index: 99;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.nav .nav-part1 {
    height: 82px;
    overflow: hidden;
}

.nav-part1 svg {
    display: block;
}


.nav .nav-part2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-top: -20px; */
}

.nav .nav-part2 .links {
    margin-top: 20px;
}

.nav .nav-part2 .links a {
    text-decoration: none;
    color: #444444;
    margin: 0 30px;
    text-transform: uppercase;
    font-size: 12px;
}

.links a i {
    font-size: 14px;

}

.links a:hover {
    border-bottom: 1px solid #444444;

}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    background-color: #F7F7F7;
    cursor: pointer;
    margin-top: 20px;
    padding: 0.5rem;
}

.icons i {
    margin: 0 20px;
    font-weight: 100;
    font-size: 16px;
}

.page1 {
    min-height: 100vh;
    position: relative;
    padding-top: 36vh;
    width: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
}

.page1 h1 {
    font-family: "Futura Now Headline", tahoma, sans-serif;
    font-size: 16vw;
    text-transform: uppercase;
    letter-spacing: -14.2px;
    line-height: 14vw;
    font-weight: bolder;
    text-align: left;

}

#video-container {
    width: 100%;
    height: 100vh;
    margin-top: 1vw;
    position: relative;

}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container .play {
    padding: 2vw 1.3vw;
    background-color: black;
    color: #fff;
    font-family: futura;
    font-size: 1.5vw;
    position: fixed;
    border-radius: 50%;
    transition: all ease-in .1s;
    opacity: 0;
    scale: 0;

}

.page2 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2vw 1vw;

}

.page2 .elem {
    width: 31%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2 .elem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.1;
}

.page2 .elem .dets {
    width: 60%;
    height: 50px;
    background-color: pink;
    position: absolute;
    border-radius: 50px;
    width: 70%;
    z-index: 9;

}

.page2 .elem .dets:hover {
    height: 150px;
}


.page3 {
    min-height: 120vh;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2vw 1vw;
    margin-bottom: 80px;
}



.page3 .item-info-con {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

}

.page3 .item-info-con #heading {
    width: 60vw;
    margin: 0 auto;
    font-size: 54px;
    font-family: "Futura Now Headline", tahoma, sans-serif;
    text-transform: uppercase;
    line-height: 1em;

}

.page3 .item-info-con .product-intro {
    padding: 0 8vw;
    margin: 0 auto;
    position: relative;
    width: 40vw;

}

.page3 .item-info-con .product-intro p {
    margin-bottom: 32px;
    letter-spacing: 1.5;
    line-height: 1.5;
}

.page3 .item-info-con .product-intro a {
    border-bottom: 1.8px solid #444444;
    padding-bottom: 5px;
    text-decoration: none;
    color: #444444;
    cursor: pointer;
}

.page3 .items {
    min-height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.page3 .items .item {
    position: relative;
    width: 38vw;
    height: 54vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.page3 .items .item .item-info {
    text-align: center;
    position: relative;
    color: #444444;
    min-height: auto;

}

.page3 .items .item .item-info h4 {
    font-size: 12px;

}

.page3 .items .item .item-info p {
    font-size: 10px;
    padding: 1vw 0;
}

.page3 #heading {
    width: 50vw;
    margin-top: -15vh;
    font-size: 3vw;
}

.page3 .items .item img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.page4 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

    padding: 1vw 2vw;
}

.page4 .left {
    position: relative;
    width: 40vw;
    /* min-height: 100vh; */
    height: 100%;
    margin-right: 20px;
    padding-right: 8rem;
}

.page4 .left h2 {
    margin-bottom: 32px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 0px;
    letter-spacing: 0px;
    font-family: "Futura Now Headline", "Lucida Sans", Tahoma, sans-serif;


}

.page4 .left p {
    margin-bottom: 32px;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.6;

}

.page4 .left a {
    border-bottom: 1.8px solid #090808;
    padding-bottom: 8px;
    text-decoration: none;
    color: #444444;
    cursor: pointer;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1.8px;
}

.page4 .right {
    position: relative;
    display: flex;
    width: 60vw;
    min-height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.page4 .right .child {
    width: 36vw;
    min-height: 100vh;
    position: relative;
    overflow: hidden;

}

.page4 .right .child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page5 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2vw 1vw;
}

.page5 .box {
    width: 100vw;
    min-height: 30vh;
}

.page5 #footer-part1 {
    margin: 0 0 144px;

}

.page5 .box textarea {
    background-color: #F7F7F7;
    width: 98%;
    font-size: 5vw;
    outline: none;
    border: none;
    border-bottom: 1px solid #000000;
    resize: none;
    padding: 15px 0;
    font-weight: bolder;

}

.page5 .mobile-footer-logo {
    display: none;
}

.page5 #footer-part2 {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    color: #000000;
    height: auto;
}

.page5 .part2-box {
    position: relative;
    width: 33%;
    height: 35vh;
    margin-right: 10px;
    overflow: hidden;
}

.page5 #footer-part2 p {
    font-size: 12px;
    margin-bottom: 16px;
    opacity: 0.3;
    font-weight: 500;
}

.page5 #footer-part2 .footer-product-link {
    text-align: right;

}

.page5 #footer-part2 .footer-logo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}



.page5 #footer-part2 .footer-product-link {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
}

.page5 #footer-part2 ul li {
    cursor: pointer;
    color: #000000;

}

.page5 #footer-part2 ul li a {
    padding: 0;
    font-size: 14px;
}

.page5 #footer-part3 {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    color: #000000;

}

.page5 #footer-part3 .footer-links {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100%;
    margin: 88px 0 0;
    gap: 25px;
    font-size: 12px;
    color: balck;
    opacity: 0.4;
    cursor: pointer;
    font-weight: 500;
}

.page5 #footer-part3 .footer-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62%;
    font-size: 14px;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 64px;
    opacity: 0.8;
}






@media (max-width:600px) {

    .nav .nav-part2 .links {
        display: none;
    }

    .page1 {
        position: relative;
        padding-top: 25vh;
        min-height: 70vh;
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .page1 h1 {
        font-size: 14.5vw;
        letter-spacing: 0;
    }

    #video-container {
        width: 100vw;
        height: 35vh;
    }

    .page2 {
        width: 100%;
        min-height: 100vh;
        position: relative;
        flex-direction: column;
        padding: 0 3vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .page2 .elem {
        width: 100%;
        overflow: hidden;
        min-height: 100vh;
        margin-top: 3vw;
    }

    .page3 {
        width: 100%;
        min-height: 120vh;
        position: relative;
        flex-direction: column;
        padding: 0 3vw;
    }

    .page3 .item-info-con {
        width: 100%;
        overflow: hidden;
        margin-top: 3vw;
        flex-direction: column;
    }

    .page3 .item-info-con #heading {
        width: 100%;
        font-size: 40px;
        padding-top: 4vh;
    }

    .page3 .item-info-con .product-intro {
        padding: 0;
        width: 100%;
        height: auto;
    }

    .page3 .item-info-con .product-intro p {
        margin-top: 16px;
        letter-spacing: 1.5;
        line-height: 1.5;
    }


    .page3 .items .item {
        padding-top: 20px;
        position: relative;
        width: 38vw;
        min-height: 50vh;

    }

    .page3 .items .item .item-info {
        text-align: center;
        position: relative;
        color: #444444;
        height: auto;
    }

    .page3 .items .item .item-info h4 {
        font-size: 2.8vw;

    }

    .page3 .items .item .item-info p {
        font-size: 2.8vw;
        margin-top: 20px;

    }

    .page4 {
        flex-direction: column-reverse;
    }

    .page4 .left {
        width: 100vw;
        height: auto;
    }

    .page4 .right {
        width: 100vw;
        min-height: auto;
        height: 100%;
    }

    .page5 #footer-part2 .footer-logo {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .page5 #footer-part2 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

    }

    .page5 .footer-logo svg {
        width: 10vw;
        display: none;
    }

    .page5 .mobile-footer-logo {
        display: block;
    }

    .page5 .mobile-footer-logo svg {
        width: 10vw;
    }


    .page5 #footer-part2 .footer-product-link {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        flex-direction: column;
        text-align: left;
    }

    .page5 .part2-box {
        position: relative;
        height: auto;
        overflow: hidden;
        width: auto;
    }

    .page5 #footer-part3 {
        flex-direction: column-reverse;
    }

    .page5 #footer-part3 .footer-content {

        width: 100%;
        font-size: 14px;
        text-align: left;
        line-height: 1.5;
        opacity: 0.8;
    }

    .page5 #footer-part3 .footer-links {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

}

@media (max-width:820px) {
    .page2 {
        flex-direction: column;
    }

    .page2 .elem {
        width: 100%;
    }

    .page3 .item-info-con {
        width: 100%;
        overflow: hidden;
        margin-top: 3vw;
        flex-direction: column;
    }

    .page3 .item-info-con #heading {
        height: 100%;
        font-size: 33px;
        text-align: center;
        width: 100%;
        margin-bottom: 25px;

    }

    .page3 .item-info-con .product-intro {
        position: relative;
        font-size: 16px;
        text-align: center;
        width: 100vw;
    }

    .page3 .item-info-con .product-intro p {
        margin-top: 0px;
        margin-bottom: 32px;
    }

    .page3 .item-info-con .product-intro a {
        border-bottom: 1.8px solid #444444;
        padding-bottom: 5px;
        text-decoration: none;
        color: #444444;
        cursor: pointer;
    }

    .page3 .items .item {
        padding-top: 20px;
        position: relative;
        width: 38vw;
        min-height: auto;
        padding-top: 20px;
    }

    .page3 .items .item .item-info {
        min-height: auto;
        height: 100%;

    }

    .page5 .box {
        min-height: auto;
    }

    .page5 #footer-part2 {
        min-height: auto;
    }

    .page5 .footer-logo svg {
        width: 10vw;
    }
}



@media (max-width:912px) {
    .page4 {
        flex-direction: column-reverse;
        min-height: auto;
    }

    .page4 .left {
        padding-right: 2rem;
        width: 100vw;
        min-height: auto;
        position: relative;
        overflow: hidden;
    }

    .page4 .right {
        position: relative;
        width: 100%;
        padding-top: 20px;
        min-height: auto;
    }

    .page4 .right .child {
        width: 100vw;
        min-height: auto;
    }
}